#asn1crypto==0.24.0
#cffi==1.14.0
colorama==0.4.1
docxtpl==0.6.3
enum34==1.1.6
humanize==0.5.1
Jinja2==2.10.1
MarkupSafe==1.1.1
maya==0.6.1
poetry==1.1.4
pendulum==3.0.0
poster3==0.8.1
pycparser==2.19
python-dateutil==2.8.0
python-docx==0.8.7
pytz==2019.1
pytzdata==2019.1
regex==2023.12.25
six==1.12.0
#snaptime==0.2.4
typing==3.7.4
tzlocal==1.5.1
requests==2.23.0
XlsxWriter==1.1.8
art==5.2
